.Filtered {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.Filtered h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

@media screen and (min-width: 900px) {
  .Filtered {
    padding: 3rem;
    margin-left: calc(200px + 3vw);
  }
}
