.SideBar {
  display: none;
}

@media screen and (min-width: 900px) {
  .SideBar {
    width: calc(200px + 3vw);
    height: 100%;
    position: fixed;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--mainColor);
  }

  .SideBar li {
    color: var(--pureWhite);
  }

  .SideBar img {
    width: 140px;
  }

  .SideBar a {
    color: var(--pureWhite);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .SideBar ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .SideBar hr {
    border-color: var(--pureWhite);
    border-style: solid;
  }

  .SideBar li:hover {
    color: var(--sideBarHoverFont);
  }

  .SideBar__Link__Active li{
    color: var(--sideBarHoverFont);
  }

}
