.Searchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.Searchbar input {
  width: 100%;
  height: 45px;
  border: solid 1px rgba(138, 138, 138, 0.424);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.2rem 1.2rem;
}

.Searchbar input:focus {
  outline: none;
  border: solid 3px rgba(138, 138, 138, 0.424);
}

.Searchbar__Btn {
  background: var(--mainColor);
  padding: 0.5rem;
  height: 45px;
  width: 45px;
  border: solid 1px rgba(138, 138, 138, 0.424);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.Searchbar__Ico {
  filter: brightness(100);
  height: 25px;
  width: 25px;
}

.Searchbar__Btn:hover {
  background: linear-gradient(36deg, rgba(255, 53, 113, 1) 37%, rgba(255, 131, 32, 1) 100%);
}

.Searchbar__Btn:focus {
  outline: none;
}

.Searchbar__Btn:active {
  background: var(--mainColor);
  border: solid 4px rgba(138, 138, 138, 0.424);
}

@media screen and (min-width: 900px) {
  .Searchbar input {
    width: calc(400px + 5vw);
  }
}
