:root {
    --lightBg: #EEEEEE;
    --mainColor: #FF4067;
    --altColor: #FF8320;
    --mainLightFont: #1C1C1C;
    --tabBarBg: #EFEFEF;
    --tabBarFont: #484848;

    --darkBg: #1C1C1C;
    --darkAltBg: #2A2A2A;
    --mainDarkFont: #EEEEEE;

    --pureWhite: #fff;
    --sideBarHoverFont: #DCFD90;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--mainLightFont);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: var(--lightBg);
}